<html>
<head>
<title>
Preparing data for resume-demo / #account#
</title>
<meta http-equiv="refresh" content="3; URL=http://localhost:3000/resume/organization.html">
<script type="text/javascript">
//ブラウザチェック
 if (typeof localStorage == 'undefined') {
  document.write("<p>お使いのブラウザではWeb Storageが使えません。</p>");
 } else {
  //セッションストレージ設定
  var storage = localStorage;

  //ボタンイベント1 保存
  function setlocalStorage(key, value) {
    if (key && value) {
      storage.setItem(key, value);
    }
    key = "";
    value = "";
  }

  setlocalStorage("resume.ethereum.demo.organization.account.",
                  '{{{ account }}}');

  setlocalStorage("resume.ethereum.demo.organization.agent.address.",
                  '{{{ orgagent }}}');

  setlocalStorage("resume.ethereum.demo.system.agent.address",
                  '{{{ sysagent }}}');

  setlocalStorage("resume.ethereum.demo.system.account",
                  '{{{ system }}}');

  setlocalStorage("resume.ethereum.demo.agent.abi",
                  '{{{ abi }}}');

  //ボタンイベント2 削除
  function removeStorage() {
    var key = document.getElementById("textkey").value;
    storage.removeItem(key);
    key = "";
    viewStorage();
  }

  //ボタンイベント3 全て削除
  function removeallStorage() {
    storage.clear();
    viewStorage();
  }

  //イベント発生時にテーブルにストレージの値を表示
  function viewStorage() {
    var list = document.getElementById("LsList")
    while (list.firstChild) list.removeChild(list.firstChild);
    for (var i=0; i < storage.length; i++) {
      var _key = storage.key(i);
      var tr = document.createElement("tr");
      var td1 = document.createElement("td");
      var td2 = document.createElement("td");
      list.appendChild(tr);
      tr.appendChild(td1);
      tr.appendChild(td2);
      td1.innerHTML = _key;
      td2.innerHTML = storage.getItem(_key);
    }
  }
  window.onload = viewStorage;
}
</script>
</head>

<body>

<h4>Localstorage:</h4>
<table class="LsTable">
    <tr>
      <th>KEY</th><th>VALUE</th>
    </tr>
    <tbody id="LsList">
    <tr></tr>
    </tbody>
  </table>

</body>

</html>
